body{
	background-size: 100%;
	color: #fff;
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}
.menu0{
	width: 100%;
	
	
}
.menu1{
	width:15%;
	height:160px ;
	display: inline-block;
	border-radius: 100%;
	background: black;
	margin: 0% 0% 0% 4%;
	text-align: center;
	
	
}
.menu1 h1{
	padding-top: 18%;
}
.menu2{
	width:15%;
	height:160px ;
	display: inline-block;
	border-radius: 100%;
	background: url(Башня.png);
	margin: 0% 0% 0% 4%;
	text-align: center;
	
}
.menu2 h1{
	padding-top: 18%;
}
.menu3{
	width:15%;
	height:160px ;
	display: inline-block;
	border-radius: 100%;
	background: url(Шахта.png);
	margin: 0% 0% 0% 4%;
	text-align: center;
	
}
.menu3 h1{
	padding-top: 18%;
}
.menu4{
	width:15%;
	height:160px ;
	display: inline-block;
	border-radius: 100%;
	background: url(Бойцы.png);
	margin: 0% 0% 0% 4%;
	text-align: center;
	
}
.menu4 h1{
	padding-top: 18%;
}
.menu5{
	width:15%;
	height:160px ;
	display: inline-block;
	border-radius: 100%;
	background: black;
	margin: 0% 0% 0% 4%;
	text-align: center;
	
}
.menu5 h1{
	padding-top: 18%;
}
p{
	font-size: 120%;
	padding: 2%

}
.osnova{
	width: 80%;
	height: 300px;
	background: black;
	border-radius: 5%;
	margin: 2% 0% 0% 10%;
	display:block;
}
a{
	text-decoration: none;
}
a:visited{
	color:white;

}
a:active{
 color: white;
}
@media screen and (max-width: 320px) {


}
.osnova{
		
	width: 80%;
	height: 400px;
}
